/* Resusable Components */

button {
  cursor: pointer;
}

.primary-button {
  padding: 10px;
  background: var(--button-bg-primary);
  border: 0;
  border-radius: 5px;
  color: var(--button-text-primary);
  font-size: 1rem;
  box-shadow: var(--shadow-medium) 0px 3px 8px;
}

.remove-button {
  color: var(--button-text-danger);
  background: var(--button-bg-danger);
  border: 0;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  box-shadow: var(--shadow-medium) 0 3px 8px;
}

/* Specific components */

.list-header-layout {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.list-header-layout>h2 {
  margin: 0;
}

/* Add Item */

.new-item-spacing {
  margin: 1rem 0;
}

.new-item-layout {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.new-item-input {
  padding: 10px;
  background: var(--input-bg);
  border: 0;
  border-radius: 5px;
  color: var(--text-primary);
  font-size: 1rem;
  box-shadow: var(--shadow-light) 0px 3px 8px;
  border: 1px solid var(--border-color);
  margin-right: 16px;
  flex-grow: 1;
}

.new-item-input:focus-visible {
  border: 1px solid var(--border-color-hover);
  box-shadow: var(--shadow-medium) 0px 3px 8px;
  outline: none;
}

.add-item-button {
  padding: 10px;
  background: var(--button-bg-primary);
  border: 0;
  border-radius: 5px;
  color: var(--button-text-primary);
  font-size: 1rem;
  box-shadow: var(--shadow-medium) 0px 3px 8px;
  width: 120px;
}

/* Active Filter */
.active-filter-link {
  display: block;
  margin: 1.5rem 0;
}

.active-filter-link {
  text-decoration: none;
  color: var(--accent-primary);
}

.active-filter-link:hover {
  text-decoration: underline;
  color: var(--accent-primary-hover);
}

/* Detail Item */
.detail-item-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color-light);
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
}

.detail-item-row {
  flex-grow: 1;
}

.detail-item {
  border: 0;
  background: transparent;
  padding: 1rem 0;
  cursor: pointer;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: left;
  padding: 0.5rem 0;
}

.detail-item-inactive {
  text-decoration: line-through;
  color: var(--text-inactive);
}

/* Edit Item */

.edit-item-admin-layout {
  display: flex;
  gap: 1rem;
  align-items: baseline;
}

.edit-item-input {
  padding: 10px;
  background: var(--input-bg);
  border: 0;
  border-radius: 5px;
  color: var(--text-primary);
  font-size: 1rem;
  box-shadow: var(--shadow-light) 0px 3px 8px;
  border: 1px solid var(--border-color);

  display: block;
  margin: 0 0 1rem 0;
}

.edit-item-input:focus-visible {
  border: 1px solid var(--border-color-hover);
  box-shadow: var(--shadow-medium) 0px 3px 8px;
  outline: none;
}